body.dark-mode {
  --main-bg-color: #030304ff;
  --main-text-color: #f1f1f1;
}

body.dark-mode .main-header,
body.dark-mode .main-sidebar {
  background-color: #20202aff !important;
}

body.dark-mode .card-header {
  background-color: #2c2929ff !important;
  color: #f1f1f1 !important;
}

/* Color navbar en modo claro */
.navbar {
  background-color: #bad7f8 !important;
  color: #000 !important;
}

/* Color navbar en modo oscuro */
body.dark-mode .navbar {
  background-color: #20202a !important;
  color: #f1f1f1 !important;
}

body.dark-mode .navbar .nav-link,
body.dark-mode .navbar h6 {
  color: #f1f1f1 !important;
}


body.dark-mode .content,
body.dark-mode .content-wrapper {
  background-color: #121212 !important; /* o #1a1a1a si lo prefieres un poco más claro */
  color: #f1f1f1;
}

body.dark-mode .text-success {
  color: #00ff88 !important; /* Verde fuerte tipo neón */
}

body.dark-mode .text-danger {
  color: #ff1744  !important; /* Rojo fuerte tipo alerta */
}

body.dark-mode .btn-primary {
  background-color: #2979ff !important;
  border-color: #2979ff !important;
  color: #fff !important;
}

body.dark-mode .btn-primary:hover {
  background-color: #1c54b2 !important;
  border-color: #1c54b2 !important;
}

body.dark-mode .btn-light {
  background-color: #2a2a2a !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

body.dark-mode .btn-light:hover {
  background-color: #3a3a3a !important;
  color: #ffffff !important;
  border-color: #555 !important;
}


/* Modo oscuro */
body.dark-mode .navbar-nav .nav-link,
body.dark-mode .navbar-nav .nav-title {
  color: #fff !important;
}